* {
  box-sizing: border-box;
}

.text-data {
  font-size: 1.5em;
}

.span-waiting {
  opacity: 0.5;
}

.span-next {
  opacity: 1;
}

.span-wrong {
  background-color: red;
  color: white;
}

.span-correct {
  background-color: darkolivegreen;
  color: white;
}

#results-table {
  display: none;
}

#winner {
  display: none;
}

.disconnected {
  background-color: red;
}